.booking {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
}

.booking__content {
  padding-top: 82px;
  padding-bottom: 76px;
}

.booking__overhead {
  margin-bottom: 12px;

  font-size: 18px;
  color: #424f7b;
}

.booking__title {
  margin-bottom: 24px;
  letter-spacing: -1%;
  min-width: 415px;

  font-size: 36px;
}

.booking__description {
  margin-bottom: 32px;
  max-width: 384px;
}

.enumeration {
  margin-bottom: -24px;
}

.enumeration__block {
  max-width: 588px;
  padding: 32px 36px;
  margin-bottom: 24px;

  box-shadow: 0px 0px 20px 3px rgba(34, 60, 80, 0.07);
}

.title--decor {
  display: flex;
  justify-content: space-between;
}

.enumeration__title {
  font-size: 24px;
}

.enumeration__description {
  width: 90%;
}

/*стрелки эти придумать                                            ___________________________________________________*/
.enumeration__arrow {
  vertical-align: middle;
  background: #ffece2;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: inline-block;

  background-image: url(../image/Arrow-down.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.enumeration__arrow--active {
  background: #ff620a;

  background-image: url(../image/Arrow-up.svg);
  background-position: center;
  background-repeat: no-repeat;
}
