.header {
  position: sticky;
  top: 0;
  padding: 37px 0 10px 0;
  background: white;
}

.header__logo {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #192252;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__nav-item {
  list-style-type: none;
  padding: 0 16px;
  font-size: 16px;
}
