.hero {
  display: flex;
}

.hero__content {
  margin-right: 24px;
}

.hero__description {
  margin-top: 32px;
  max-width: 485px;
}

.hero__button {
  margin-top: 32px;
}
.hero__title {
  margin-top: 215px;
}

.hero__picture {
  padding-top: 80px;
  padding-bottom: 80px;
}
