.offer {
  display: flex;
}

.offer__content {
  margin-left: 126px;
}

.offer__description {
  margin-top: 24px;
  max-width: 584px;
}

.offer__button {
  margin-top: 32px;
}
.offer__title {
  margin-top: 185px;
}

.offer__picture {
  padding-top: 80px;
  padding-bottom: 80px;
}
