.reservation__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 88px;
}

.reservation__title {
  margin-bottom: 24px;
}
.reservation__description {
  margin-bottom: 32px;
  max-width: 588px;
  text-align: center;
}

.reservation__cards-container {
  display: flex;
  flex: 1 0 33.33%;
  margin: 0 -12px;
  padding-bottom: 80px;
}

.reservation__room-card {
  margin: 0 12px;
}
